<% content_for :sidebar_content do %>
  <div id="tree">
    <ul id="tree-data" style="display: none;">
      <li id="sites-folder" class="folder">Sites
        <ul>
          <% @sites.each do |site| %>
            <li id="<%= site["sys_id"] %>"><%= raw(link_to site["name"], site_path(site["sys_id"]), :remote => true) %>
          <% end %>
        </ul>
      </li>

      <li id="pages-folder" class="folder">Pages
        <ul>
          <% @pages.each do |page| %>
            <li id="<%= page["sys_id"] %>"><%= raw(link_to page["name"], page_path(page["sys_id"]), :remote => true) %>
          <% end %>
        </ul>
      </li>

      <li id="themes-folder" class="folder">Themes
        <ul>
          <% @themes.each do |theme| %>
            <li id="<%= theme["sys_id"] %>"><%= raw(link_to theme["name"], theme_path(theme["sys_id"]), :remote => true) %>
          <% end %>
        </ul>
      </li>

      <li id="blocks-folder" class="folder">Blocks
        <ul>
          <li id="blocks-headers-folder" class="folder">Headers
            <ul>
              <% @header_blocks.each do |block| %>
                <%= render :partial => "content_blocks/list_item", :locals => { :block => block, :name => 'Header' } %>
              <% end %>
            </ul>
          </li>

          <li id="blocks-navs-folder" class="folder">Navigation Menus
            <ul>
              <% @menu_blocks.each do |block| %>
                <%= render :partial => "content_blocks/list_item", :locals => { :block => block, :name => 'Navigation Menu' } %>
              <% end %>
            </ul>
          </li>

          <li id="blocks-dynamics-folder" class="folder">Dynamic
            <ul>
              <% @dynamic_blocks.each do |block| %>
                <%= render :partial => "content_blocks/list_item", :locals => { :block => block, :name => 'Dynamic' } %>
              <% end %>
            </ul>
          </li>

          <li id="blocks-lists-folder" class="folder">Lists
            <ul>
              <% @list_blocks.each do |block| %>
                <%= render :partial => "content_blocks/list_item", :locals => { :block => block, :name => 'List' } %>
              <% end %>
            </ul>
          </li>

          <li id="blocks-statics-folder" class="folder">Static HTML
            <ul>
              <% @static_blocks.each do |block| %>
                <%= render :partial => "content_blocks/list_item", :locals => { :block => block, :name => 'Static HTML' } %>
              <% end %>
            </ul>
          </li>

          <li id="blocks-statics-folder" class="folder">Flash Movies
            <ul>
              <% @flash_blocks.each do |block| %>
                <%= render :partial => "content_blocks/list_item", :locals => { :block => block, :name => 'Flash Movie' } %>
              <% end %>
            </ul>
          </li>

          <li id="blocks-statics-folder" class="folder">IFrames
            <ul>
              <% @iframe_blocks.each do |block| %>
                <%= render :partial => "content_blocks/list_item", :locals => { :block => block, :name => 'IFrame' } %>
              <% end %>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
<% end %>
